{{ form_start(form, {'attr': {'class': 'col-6'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {% if form.date is defined %}
    {{ form_row(form.date) }}
  {% endif %}

  <div class="form-group">
    {{ form_label(form.title, "Titre de l'annonce") }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.price, "Loyer (€)") }}
    {{ form_errors(form.price) }}
    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.charge, "Charges (€)") }}
    {{ form_errors(form.charge) }}
    {{ form_widget(form.charge, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.size, "Taille (m²)") }}
    {{ form_errors(form.size) }}
    {{ form_widget(form.size, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.type, "Type de bien") }}
    {{ form_errors(form.type) }}
    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.nbParts, "Nombre de pièces") }}
    {{ form_errors(form.nbParts) }}
    {{ form_widget(form.nbParts, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="col-12">Cochez si besoin</div>
  <div class="form-group">
    {{ form_label(form.meuble) }}
    {{ form_errors(form.meuble) }}
    {{ form_widget(form.meuble, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.collocation) }}
    {{ form_errors(form.collocation) }}
    {{ form_widget(form.collocation, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.region, "Région") }}
    {{ form_errors(form.region) }}
    {{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.departement, "Département") }}
    {{ form_errors(form.departement) }}
    {{ form_widget(form.departement, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.city, "Ville") }}
    {{ form_errors(form.city) }}
    {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.content, "Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.content) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.image.file, "Image de présentation", {'label_attr': {'for': 'mango_platformbundle_rent_image_file'}}) }}
    {{ form_errors(form.image.file) }}
    {{ form_widget(form.image.file, {'attr': {'class': 'form-control-file'}}) }}
  </div>
  {{ form_widget(form.userId, {'attr' : {'value' : userId  }})}} 
  <div class="form-group">
  {{ form_rest(form) }}
</div>
 <input type="submit" id="_submit" class="btn col-12" name="_submit" value="Envoyer" />

{{ form_end(form) }}
