{% extends "::layout.html.twig" %}

{% block title %}
  Mes annonces - {{ parent()}}
{% endblock %}

{% block body %}
	<section id="my-adverts">
		<h1 class="col-12">Mes annonces</h1>
		{% for message in app.flashes('notice') %}
		    <div class="alert alert-success">
		        {{ message }}
		    </div>
		{% endfor %}
		
		<div class="row">
			<div class="col-12 col-lg-6">
				<h2 class="col-12">En vente</h2>
				<ul>

					{% for buy in listBuys %} {# Affichage des annonces #}
						<li class="my-advert col-12">
						    <a href="{{ path('mango_platform_view_buy', {'id':buy.id}) }}" class="row">
						      	<div class="cover col-12 col-md-6">
						      		<img src="{{ asset(buy.image.webPath) }}" alt="{{ buy.image.alt }}" class="img-fluid" />
						      	</div>
						      	<div class="cover-text col-12 col-md-6">

						      		{% if buy.published == 0 %}
										<p class="col-12 no-published">En attente</p>
									{% else %}
										<p class="col-12 published">Publié</p>
									{% endif %}

						      		<p class="col-12 my-city">{{ buy.city.name }} ({{ buy.city.zipcode }})</p>
						      		<p class="col-12 date">{{ buy.date|date('d/m/Y') }}</p>
							      	<h3 class="col-12 my-title">{{ buy.title }}</h3>
							      	<p class="col-12 type">{{ buy.type.name }} | {{ buy.size }} m²</p>
							      	<p class="col-12 text-right price">{{ buy.price }} €</p>
						      	</div>
						    </a> 
						    <div class="text-right btn-my-advert">
						    	<a href="{{ path('mango_platform_edit_buy', {'id': buy.id}) }}" class="btn btn-delete">Modifier   <span class="fas fa-pencil-alt"></span></a>
						    	<a href="{{ path('mango_platform_delete', {'id': buy.id}) }}" class="btn btn-delete">Supprimer   <span class="fas fa-trash-alt"></span></a>
						   </div>
						</li>
					{% else %}
						<li class="my-advert-null col-12">Vous n'avez pas encore posté d'annonce dans la section "Achat"</li> 
					{% endfor %}

				</ul>
			</div>
			<div class="col-12 col-lg-6">
				<h2 class="col-12">En location</h2>
				<ul>

					{% for rent in listRents %} {# Affichage des annonces #}
						<li class="my-advert col-12">
						    <a href="{{ path('mango_platform_rent_view', {'id':rent.id}) }}" class="row">
						      	<div class="cover col-12 col-md-6">
						      		<img src="{{ asset(rent.image.webPath) }}" alt="{{ rent.image.alt }}" class="img-fluid" />
						      	</div>
						      	<div class="cover-text col-12 col-md-6">

						      		{% if rent.published == 0 %}
										<p class="col-12 no-published">En attente</p>
									{% else %}
										<p class="col-12 published">Publié</p>
									{% endif %}

						      		<p class="col-12 my-city">{{ rent.city.name }} ({{ rent.city.zipcode }})</p>
						      		<p class="col-12 date">{{ rent.date|date('d/m/Y') }}</p>
							      	<h3 class="col-12 my-title">{{ rent.title }}</h3>
							      	<p class="col-12 type">{{ rent.type.name }} | {{ rent.size }} m² {% if rent.meuble == 1 %}| Meublé{% elseif rent.collocation == 1 %}| Collocation{% endif %}</p>
							      	<p class="col-12 text-right price">{{ rent.price }} €</p>
						      	</div>
						    </a>
						    <div class="text-right btn-my-advert">
						    	<a href="{{ path('mango_platform_edit_rent', {'id': rent.id}) }}" class="btn btn-delete">Modifier   <span class="fas fa-pencil-alt"></span></a>
						    	<a href="{{ path('mango_platform_delete', {'id': rent.id}) }}" class="btn btn-delete">Supprimer   <span class="fas fa-trash-alt"></span></a>
						   </div> 
						</li>
					{% else %}
						<li class="my-advert-null col-12">Vous n'avez pas encore posté d'annonce dans la section "Louer"</li>
					{% endfor %}

				</ul>
			</div>
		</div>
		<div class="row" id="add">
			<div class="col-12 d-lg-flex justify-content-lg-around">
				<a href="{{ path('mango_platform_addbuy') }}" class="btn col-12 col-lg-4 btn-create">Créer une annonce Vente</a>
				<a href="{{ path('mango_platform_addrent') }}" class="btn col-12 col-lg-4 btn-create">Créer une annonce Location</a>
			</div>
		</div>
	</section>
{% endblock %} 