{% extends "::layout.html.twig" %}

{% block title %}
  {{ rent.title }} - {{ parent()}}
{% endblock %}

{% block body %}
	<section class="view">
		<h1>Louer</h1>
		{% if rent.published != 0 %}
			<h2>{{ rent.title }}</h2>
			<article class="row">
				<div class="col-12 col-lg-4">
					<img src="{{ asset(rent.image.webPath) }}" alt="{{ rent.image.alt }}" class="img-fluid" />
				</div>
				<div class="col-12 col-lg-8">
					<div class="row">
						<div class="col-12 col-lg-4">
							<p><span>Localisation : </span>{{ rent.city.name }} ({{ rent.city.zipcode }})</p>
							<p><span>Type de bien : </span>{{ rent.type.name }}</p>
							<p><span>Prix : </span>{{ rent.price }} €/mois | <span>Charges :</span> {{ rent.charge }}</p>
							<p><span>Superficie : </span>{{ rent.size }} m²</p>
							<p><span>Nombre de pièces : </span>{{ rent.nbParts }} pièces</p>
							<p><span>Meublé: </span>{% if rent.meuble == 1 %} Oui {% else %} Non {% endif %}</p>
							<p><span>Collocation: </span>{% if rent.collocation == 1 %} Oui {% else %} Non {% endif %}</p>
						</div>
						<div class="col-12 col-lg-8">
							<iframe width="100%" height="300" frameborder="0" style="border:0"
							src="https://www.google.com/maps/embed/v1/place?q={{ rent.city.name }}&key=AIzaSyBQFyvNGExyTQBLYbOIpyzmD7fBhLMmlx4" allowfullscreen></iframe>
						</div>
					</div>
					<div class="row description">
						<div class="col-12">
							<p><span>Description</span></p>
							<p>{{ rent.content }}</p>
							<p class="col-12 text-right"><span>Proposé par : </span>{{user.username}}</p>
						</div>

						{% if not is_granted('ROLE_USER') %}
							<div class="text-right">
								<a href="#" class="btn col-12 col-md-4 contact">Contacter   <span class="fas fa-address-book"></span></a>
							</div>
						{% else %}
							<form class="text-right" action="">
								{# Bouton pour afficher le mail #}
								<button class="btn col-12 col-md-4" type="button" id='btn-mail-rent'>Voir le mail   <span class="fas fa-envelope"></span></button>
								
								{# si l'annonceur a renseigné son numéro de tél #}
								{% if user.phone is not null %}
									{# Bouton pour l'affichage du numéro #}
									<button class="btn col-12 col-md-4" type="button" id='btn-tel-rent'>Voir le n° de téléphone   <span class="fas fa-phone"></span></button>
								{% endif %}

									<input type="hidden" name="userId" id="user-id" value='{{ user.id }}'/>
									<input type="hidden" name="nbAdvert" id="nbAdvert" value='{{ buy.id }}'/>
							</form>
						{% endif %} 

					</div>
				</div>
			</article>
		{% else %}
			<p>Désolé cette annonce n'est pas encore disponible</p>
		{% endif %}
		<a href="{{ path('mango_platform_rent', {'page': 1}) }}" class="btn retour col-12 col-lg-2">Retourner aux annonces</a>
	</section>
{% endblock %}
