{% extends "::layout.html.twig" %}

{% block title %}
  {{ rent.title }} - {{ parent()}}
{% endblock %}

{% block body %}
	<section class="view">
		<h1>Louer</h1>
		<h2>{{ rent.title }}</h2>
		<article class="row">
			<div class="col-4">
				<img src="{{ asset(rent.image.coverUrl) }}" alt="{{ rent.image.alt }}" class="img-fluid" />
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-6">
						<p><span>Localisation : </span>{{ rent.city.name }} ({{ rent.city.zipcode }})</p>
						<p><span>Type de bien : </span>{{ rent.type.name }}</p>
						<p><span>Prix : </span>{{ rent.price }} €/mois | <span>Charges :</span> {{ rent.charge }}</p>
						<p><span>Superficie : </span>{{ rent.size }} m²</p>
						<p><span>Nombre de pièces : </span>{{ rent.nbParts }} pièces</p>
						<p><span>Meublé: </span>{% if rent.meuble == 1 %} Oui {% else %} Non {% endif %}</p>
						<p><span>Collocation: </span>{% if rent.collocation == 1 %} Oui {% else %} Non {% endif %}</p>
					</div>
					<div class="col-5">
						<iframe width="500" height="300" frameborder="0" style="border:0"
						src="https://www.google.com/maps/embed/v1/place?q={{ rent.city.name }}&key=AIzaSyBQFyvNGExyTQBLYbOIpyzmD7fBhLMmlx4" allowfullscreen></iframe>
					</div>
				</div>
				<div class="row description">
					<p><span>Description</span></p>
					<p>{{ rent.content }}</p>
				</div>
			</div>
		</article>
	</section>
{% endblock %}