{% extends "::layout.html.twig" %}

{% block title %}
  {{ rent.title }} - {{ parent()}}
{% endblock %}

{% block body %}
	<section id="view-rent">
		<h1>Louer</h1>
		<h2>{{ rent.title }}</h2>
		<article class="row">
			<div class="col-4">
				<img src="{{ asset(rent.image.coverUrl) }}" alt="{{ rent.image.alt }}" class="img-fluid">
			</div>
			<div class="col-6">
				<div class="row">
					<div class="col-6">
						<p><span>Localisation : </span>{{ rent.city.name }} ({{ rent.city.zipcode }})</p>
						<p><span>Prix : </span>{{ rent.price }}</p>
						<p><span>Superficie : </span>{{ rent.size }} m²</p>
						<p><span>Nombre de pièces : {{ rent.nbParts }} pièces</span></p>
						<p><span>Type de bien : </span>{{ rent.type.name }}</p>
					</div>
					<div class="col-5">
						<iframe width="500" height="350" frameborder="0" style="border:0"
						src="https://www.google.com/maps/embed/v1/place?q={{ rent.city.name }}&key=AIzaSyBQFyvNGExyTQBLYbOIpyzmD7fBhLMmlx4" allowfullscreen></iframe>
					</div>
				</div>
				<div class="row">
					<p>{{ rent.content }}</p>
				</div>
			</div>
		</article>
	</section>
{% endblock %}